# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\personal\java-advance-practice\array\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
